# Node.js dependencies
node_modules/
.npm/

# IfluxDB data files
influxdb/data/

#Grafana data files
grafana/data/csv/
grafana/data/plugins/
grafana/data/png/
grafana/data/pdf/

package-lock.json
work-log.txt

.env
!.env.example
