version: '3.7'
services:

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    ports:
      - "1883:1883" 
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
    restart: always

  node-red:
    container_name: hydro-nodered
    build:
      context: ./node-red/
      dockerfile: Dockerfile
    image: hydro_nodered:latest
    ports:
      - "1880:1880"
    volumes:
      - ./node-red/data:/data
    links:
      - mosquitto
      - influxdb
    restart: always

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb/data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=iot_user
      - DOCKER_INFLUXDB_INIT_PASSWORD=iot_password
      - DOCKER_INFLUXDB_INIT_ORG=iot_org
      - DOCKER_INFLUXDB_INIT_BUCKET=hydroponics_data
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=super_secret_token 
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/data:/var/lib/grafana
    links:
      - influxdb
    restart: always

  simulator:
    build: 
      context: ./sensor-simulator/ 
    container_name: python_simulator
    volumes:
      - ./sensor-simulator/config.yaml:/app/config.yaml:ro
    links:
      - mosquitto 
    profiles: ["manual"] # Only start when explicitly specified

 



  
